Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [1]:
break=5

SyntaxError: ignored

Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [4]:
current_year=2023
birth_year=2002
age=current_year-birth_year
age

21

Store your first, middle and last name in three different variables and then print your full name using these variables

In [5]:
first="Naveen"
middle="Kumar"
last="C"
full_name=print(f"{first}{middle}{last}")

NaveenKumarC

Answer which of these are invalid variable names:

_nation

1record

record1

record_one

record-one

record^one

continue

**Answer**=record-one,record^one and continue